
<!-- DRAG AND DROP CONTAINER -->

<div draggable="true" ngClass="{{dragAreaClass}}">

	<div class="row">

		<div class="col-md-12">

            <img class="margin-center" width="63" height="64" src="../../assets/uploadIcon.png" alt="Upload Icon">

            <h2 class="text-align">Drag file here</h2>
            <h4 class="text-align">or</h4>
            <label class="margin-center" (click)="file.click()">Browse for file</label>
            
			<input type="file" #file [multiple]="false" style="display:none"/>

        </div>

    </div>
    
</div>

<!-- ERROR MESSAGE IF FILE NOT A IMAGE -->

<div class="error" *ngIf="error">

    <p>{{ this.error }}</p>
    
</div>

<!-- PROGRESS GIF -->

<div class="loadingWrapper" *ngIf="loading">

    <img src="../../assets/loading.gif" alt="Loading Progress">

</div>

